body {
    background-image: url('../photos/passpotr_shablon.png');
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}
.block1 {
    margin-top: 65px;
    margin-left: 100px; 
}
.block2 {
    margin-left: 80px;
    margin-top: 53px;
    font-size: 90%;
}
.block3 {
    margin-left: 290px;
    margin-top: -18px;
}
#surname{
    margin-top: 187px;
    margin-left: 180px;
}
#name {
        margin-top: 28px;
        margin-left: 166px;
}
#patronic {
    margin-top: 5px;
    margin-left: 180px;
}
.sex {
    margin-top: 5px;
    margin-left: 166px;
}
#date_of_birth {
    margin-top: -18px;
    margin-left: 250px;
}
.city {
    margin-top: 4px;
    margin-left: 180px;
}

.photo {
    margin-top: -97px;
    margin-left: 26px;
}
.block4 {
    writing-mode: vertical-lr;
    margin-top: -400px;
    margin-left: 400px;
}
.block5 {
    writing-mode: vertical-lr;
    margin-top: 130px;
    margin-left: 400px;
}
.button_to_change {
    margin-left: 450px;
    margin-top: -450px;
    font-family: Arial, Helvetica, sans-serif;
}
#cyril_to_latin {
    padding: 6px 18px;
    border: 0;
    border-radius: 5px;
    background-color: whitesmoke;
}
#cyril_to_latin:hover {
    background-color: rgb(214, 214, 214);
}

.dom {
    margin-left:450px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#go_to_dom {
    padding: 6px 18px;
    border: 0;
    border-radius: 5px;
    background-color: whitesmoke; 
}

#go_to_dom:hover {
    background-color: rgb(214, 214, 214);
}
